{% extends 'budget_app/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm rounded-4">
                <div class="card-body">
                    <h4 class="card-title mb-3">Confirmer la suppression</h4>
                    <p>Voulez-vous vraiment supprimer ce mouvement DBM ?</p>
                    <dl class="row mb-4">
                        <dt class="col-sm-4">Date</dt>
                        <dd class="col-sm-8">{{ object.date_dbm }}</dd>
                        <dt class="col-sm-4">Source</dt>
                        <dd class="col-sm-8">{{ object.compte_source }}</dd>
                        <dt class="col-sm-4">Destination</dt>
                        <dd class="col-sm-8">{{ object.compte_destinataire }}</dd>
                        <dt class="col-sm-4">Montant</dt>
                        <dd class="col-sm-8">{{ object.montant_dbm }}</dd>
                    </dl>
                    <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'dbm_list' %}" class="btn btn-outline-secondary">Annuler</a>
                        <button type="submit" class="btn btn-danger">Supprimer définitivement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
